html {
    font-size: 22px
}

body{
    background-color: #333;
    color: whitesmoke;
}

button{
    background-color: #333;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
}
#increment-btn{
    background-color: maroon;
}
#decrement-btn{
    background-color: black;
}
#save-btn{
    background-color: green;
    color: black;
}
#refresh-btn{
    background-color: white;
    color: black;
}